* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: snow;
}

header {
  background-color: #1E1E1E;
}
header .head-links {
  padding: 20px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-links a {
  margin-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
header .head-links .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
header .head-links button {
  border: none;
  outline: none;
  color: snow;
  background-color: #FF3C78;
  border-radius: 16px;
  padding: 12px 24px;
}

main {
  width: 1300px;
  margin: 100px auto;
}

footer {
  background-color: #1E1E1E;
  color: snow;
  padding: 80px 80px 0px 80px;
}
footer .footer-links {
  width: 1300px;
  margin: 0 auto;
}
footer .footer-links .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-links .footer-top a {
  margin-right: 40px;
  margin-top: 20px;
}
footer .footer-links a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-links .footer-first-links {
  display: flex;
  flex-direction: column;
}
footer .footer-links .footer-first-links h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 350px;
  height: 94px;
}
footer .footer-links .footer-first-links p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 372px;
  height: 96px;
  margin: 25px 0;
}
footer .footer-links .overview {
  display: flex;
  flex-direction: column;
}
footer .footer-links .pages {
  display: flex;
  flex-direction: column;
}
footer .footer-links .connect {
  display: flex;
  flex-direction: column;
}
footer .footer-links .footer-bootom {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-card .login-card-deskription {
  border: 1px solid #E1E1E1;
  border-radius: 16px;
  width: 479px;
  margin: 0 auto;
}
.login-card .login-card-deskription .login-top {
  text-align: center;
  padding-top: 50px;
}
.login-card .login-card-deskription .login-top .sign-with-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.login-card .login-card-deskription .login-top .sign-with-email b {
  margin: 0 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
}
.login-card .login-card-deskription .login-top .sing-google {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card .login-card-deskription .login-top .sing-google img {
  margin-right: 10px;
}
.login-card .login-card-deskription .login-top .sing-google b {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
}
.login-card .login-card-deskription .login-top span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #172327;
  padding-top: 50px;
}
.login-card .login-card-deskription .login-top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #1E1E1E;
  margin: 30px 0;
}
.login-card .login-card-deskription .login-center {
  margin: 0 auto;
  width: 357px;
}
.login-card .login-card-deskription .login-center form div {
  display: flex;
  flex-direction: column;
}
.login-card .login-card-deskription .login-center form input {
  border: none;
  outline: none;
  height: 48px;
  left: 567px;
  top: 389px;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  margin-bottom: 20px;
  padding-left: 12px;
}
.login-card .login-card-deskription .login-center form label {
  margin-bottom: 10px;
}
.login-card .login-card-deskription .login-center form button {
  width: 100%;
  margin: 20px 0;
  border: none;
  outline: none;
  background: #FF3C78;
  border-radius: 14px;
  padding: 12px;
  color: snow;
  cursor: pointer;
}
.login-card .login-card-deskription .login-center p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  cursor: pointer;
}
.login-card .login-card-deskription .login-center span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FF3C78;
}/*# sourceMappingURL=style.css.map */