* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: snow;
}

header {
  background-color: #1E1E1E;
}
header .head-links {
  padding: 20px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-links a {
  margin-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
header .head-links .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
header .head-links button {
  border: none;
  outline: none;
  color: snow;
  background-color: #FF3C78;
  border-radius: 16px;
  padding: 12px 24px;
}

.blog {
  width: 100%;
  text-align: center;
  padding: 100px;
}
.blog .btn1 {
  background-color: #FF3C78;
}
.blog button {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 18px;
  outline: none;
  border: none;
  text-align: center;
  margin: 20px 20px;
}
.blog p {
  font-size: 32px;
  padding-bottom: 50px;
  font-weight: 700;
  color: black;
}
.blog .grid-two {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 150px;
  gap: 25px;
}
.blog .grid-two div {
  position: relative;
  box-shadow: 1px 1px 10px black, -3px -3px 10px black;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.blog .grid-two div button {
  position: absolute;
  cursor: pointer;
  left: 7%;
  top: 55%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #FF3C78;
  color: white;
}
.blog .grid-two div .button-3 {
  background-color: #FF3C78;
}
.blog .grid-two div .par {
  margin: 5px;
  font-weight: 100;
  text-align: left;
  font-size: 15px;
}
.blog .grid-two div img {
  height: 550px;
  width: 100%;
  border-radius: 10px;
}
.blog .grid-two div p {
  margin: 5px;
  text-align: left;
  font-weight: 700;
  font-size: 32px;
}

.alotOf {
  width: 100%;
  background-color: #F9F5F2;
  padding: 20px 50px;
}
.alotOf button:first-child {
  border: none;
  outline: none;
  margin: 35px auto;
  display: block;
  text-align: center;
  padding: 8px 16px;
  background-color: #F9F5F2;
  border-radius: 20px;
}
.alotOf p {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  font-size: 40px;
  font-weight: 600;
}
.alotOf .grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 150px;
  gap: 20px;
}
.alotOf .grid div {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.alotOf .grid div button {
  position: absolute;
  cursor: pointer;
  left: 7%;
  top: 50%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #1E1E1E;
  color: white;
}
.alotOf .grid div .button-2 {
  background-color: #FF3C78;
}
.alotOf .grid div .button-3 {
  background-color: #2241CF;
}
.alotOf .grid div .par {
  margin: 15px;
  font-weight: 100;
  text-align: left;
  font-size: 15px;
}
.alotOf .grid div img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}
.alotOf .grid div p {
  margin: 10px;
  text-align: left;
  font-size: 18px;
}

.customer-login-form {
  width: 1300px;
  margin: 115px auto;
}
.customer-login-form .login-main {
  background: #1E1E1E;
  border-radius: 16px;
  color: snow;
  display: flex;
  justify-content: space-around;
}
.customer-login-form .login-main .login-main-left {
  margin: 32px 32px;
}
.customer-login-form .login-main .login-main-left h1 {
  width: 462px;
  height: 88px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.customer-login-form .login-main .login-main-left p {
  width: 448px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.customer-login-form .login-main .login-main-right form {
  display: flex;
  flex-direction: column;
}
.customer-login-form .login-main .login-main-right form input {
  margin-top: 30px;
  width: 409px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 60px;
  border: 2px solid #E1E1E1;
  border-radius: 50px;
  background-color: #1E1E1E;
  color: snow;
}
.customer-login-form .login-main .login-main-right form input:nth-child(1) {
  background: url(/NewWork/IMG/user.png) no-repeat center left 20px;
}
.customer-login-form .login-main .login-main-right form input:nth-child(2) {
  background: url(/NewWork/IMG/mail.png) no-repeat center left 20px;
}
.customer-login-form .login-main .login-main-right button {
  background: #FF3C78;
  border-radius: 16px;
  padding: 12px 40px;
  color: snow;
  margin: 32px 0;
}

footer {
  background-color: #1E1E1E;
  color: snow;
  padding: 80px 80px 0px 80px;
}
footer .footer-links {
  width: 1300px;
  margin: 0 auto;
}
footer .footer-links .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-links .footer-top a {
  margin-right: 40px;
  margin-top: 20px;
}
footer .footer-links a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-links .footer-first-links {
  display: flex;
  flex-direction: column;
}
footer .footer-links .footer-first-links h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 350px;
  height: 94px;
}
footer .footer-links .footer-first-links p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 372px;
  height: 96px;
  margin: 25px 0;
}
footer .footer-links .overview {
  display: flex;
  flex-direction: column;
}
footer .footer-links .pages {
  display: flex;
  flex-direction: column;
}
footer .footer-links .connect {
  display: flex;
  flex-direction: column;
}
footer .footer-links .footer-bootom {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=blog.css.map */