* {
    padding: 0px;
    font-family: sans-serif;
    margin: 0px;
    transition: 1s ease;
    box-sizing: border-box;
}

.main {
    width: 100%;
    background-color: #1E1E1E;
    color: #FFFFFFFF;
    padding: 36px 200px;
    h1{
        color: #FFFFFFFF;
    }
    .navi {
        display: flex;
        width: 100%;
        padding:36px;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        button{
            padding: 16px 24px;
            background-color: #FF3C78;
            border-radius: 16px;
            border: none;
            outline: none;
            color: white;
            font-weight: 400;
            &:hover{
                box-shadow: inset 100px 0px #f7054d,inset -100px 0px #f7054d;
            }
        }
        .login{
            padding-left: 200px
        }
        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: #FF3C78;
                letter-spacing: 1px;
            }
        }
    }
}