* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
button{
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: snow;
}
.main-back{
    width: 100%;
    background-color: #1E1E1E;
    header {
        background-color: #1E1E1E;
        width: 1300px ;
        margin: 0 auto;
        .head-links {
            a {
    
                margin-right: 40px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
    
            .logo {
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
            }
    
            padding: 20px;
            width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            button {
                border: none;
                outline: none;
                color: snow;
                background-color: #FF3C78;
                border-radius: 16px;
                padding: 12px 24px;
            }
        }
    }
}

.blog {
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;

    .btn1 {
        background-color: #FF3C78;
    }

    button {
        padding: 15px 20px;
        border-radius: 20px;
        font-size: 18px;
        outline: none;
        border: none;
        text-align: center;
        margin: 20px 20px;
    }

    p {
        font-size: 32px;
        padding-bottom: 50px;
        font-weight: 700;
        color: black;
    }

    .grid-two {
        width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 150px;
        gap: 25px;

        div {
            position: relative;
            box-shadow: 1px 1px 10px black, -3px -3px 10px black;
            margin: 0 auto;
            width: 100%;
            padding-bottom: 20px;
            border-radius: 10px;
            background-color: #FFFFFF;

            button {
                position: absolute;
                cursor: pointer;
                left: 7%;
                top: 55%;
                padding: 15px 20px;
                font-size: 16px;
                border: none;
                outline: none;
                border-radius: 20px;
                background-color: #FF3C78;
                color: white;
            }

            .button-3 {
                background-color: #FF3C78;
            }

            .par {
                margin: 5px;
                font-weight: 100;
                text-align: left;
                font-size: 15px;

            }

            img {
                height: 550px;
                width: 100%;
                border-radius: 10px;
            }

            p {
                margin: 5px;
                text-align: left;
                font-weight: 700;
                font-size: 32px;
            }
        }

    }
}

.alotOf {
    width: 1300px;
    margin: 0 auto;

    padding: 20px   0px;

    button:first-child {
        border: none;
        outline: none;
        margin: 35px auto;
        display: block;
        text-align: center;
        padding: 8px 16px;
        background-color: #F9F5F2;
        border-radius: 20px;
    }

    p {
        text-align: center;
        margin: 0 auto;
        width: 500px;
        font-size: 40px;
        font-weight: 600;
    }

    .grid {
        width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 100px 0px;
        gap: 10px;

        div {
            width: 400px;
            position: relative;
            padding-bottom: 20px;
            border-radius: 10px;
            background-color: #FFFFFF;

            button {
                position: absolute;
                cursor: pointer;
                left: 7%;
                top: 50%;
                padding: 15px 20px;
                font-size: 16px;
                border: none;
                outline: none;
                border-radius: 20px;
                background-color: #1E1E1E;
                color: white;
            }

            .button-2 {
                background-color: #FF3C78;
            }

            .button-3 {
                background-color: #2241CF;
            }

            .par {
                margin: 15px;
                font-weight: 100;
                text-align: left;
                font-size: 15px;

            }

            img {
                height: 250px;
                width: 100%;
                border-radius: 10px;
            }

            p {
                margin: 10px;
                width: 380px;
                text-align: left;
                font-size: 18px;
            }
        }

    }
}

.customer-login-form {
    width: 1300px;
    margin: 115px auto;

    .login-main {
        background: #1E1E1E;
        border-radius: 16px;
        color: snow;

        display: flex;
        justify-content: space-around;

        .login-main-left {
            margin: 32px 32px;

            h1 {
                width: 462px;
                height: 88px;
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 44px;
            }

            p {
                width: 448px;
                height: 50px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-top: 20px;
            }
        }

        .login-main-right {
            form {
                display: flex;
                flex-direction: column;

                input {
                    margin-top: 30px;
                    width: 409px;
                    height: 50px;
                    border: none;
                    outline: none;
                    padding-left: 60px;
                    border: 2px solid #E1E1E1;
                    border-radius: 50px;
                    background-color: #1E1E1E;
                    color: snow;
                }

                input:nth-child(1) {
                    background: url(/NewWork/IMG/user.png) no-repeat center left 20px;
                }

                input:nth-child(2) {
                    background: url(/NewWork/IMG/mail.png) no-repeat center left 20px;
                }
            }

            button {
                background: #FF3C78;
                border-radius: 16px;
                padding: 12px 40px;
                color: snow;
                margin: 32px 0;
            }
        }
    }
}




.main-back{
    width: 100%;
    background-color: #1E1E1E;
    footer {
        background-color: #1E1E1E;
        margin: 0 auto;
        width: 1300px;
        color: snow;
        padding: 80px 80px 0px 80px;
    
        .footer-links {
            .footer-top {
                display: flex;
                justify-content: space-between;
    
                a {
                    margin-right: 100px;
                    margin-top: 20px;
                }
            }
    
            a {
                font-style: normal;
                margin-right: 100px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
    
            }
            hr{
                width: 1150px;
            }
    
            width: 1300px;
            margin: 0 auto;
    
            .footer-first-links {
                h1 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 47px;
                    width: 350px;
                    height: 94px;
                }
    
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    width: 372px;
                    height: 96px;
                    margin: 25px 0;
                }
    
                display: flex;
                flex-direction: column;
            }
    
            .overview {
                display: flex;
                flex-direction: column;
            }
    
            .pages {
                display: flex;
                flex-direction: column;
            }
    
            .connect {
                display: flex;
                flex-direction: column;
            }
    
            .footer-bootom {
                padding: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
            }
        }
    }
}