* {
  margin: 0;
  padding: 0;
  transition: 1s ease;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  width: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: snow;
}

.main-back {
  width: 100%;
  background-color: #1E1E1E;
}
.main-back header {
  width: 1300px;
  margin: 0 auto;
  background-color: #1E1E1E;
}
.main-back header .head-links {
  padding: 20px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-back header .head-links a {
  margin-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.main-back header .head-links .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.main-back header .head-links button {
  border: none;
  outline: none;
  color: snow;
  background-color: #FF3C78;
  border-radius: 16px;
  padding: 12px 24px;
}

.five-back {
  background-color: #F9F5F2;
  width: 100%;
}
.five-back .five-people {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
  background-color: #F9F5F2;
}
.five-back .five-people button {
  padding: 15px 16px;
  background-color: #FFDEC6;
  border-radius: 20px;
  margin: 0 auto;
  border: none;
  outline: none;
}
.five-back .five-people p {
  font-size: 40px;
  font-weight: 700;
  color: black;
  width: 450px;
  margin: 15px auto;
}
.five-back .five-people .images-grid {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.five-back .five-people .images-grid img {
  height: 270px;
  border-radius: 10px;
}
.five-back .five-people .numbers {
  padding: 60px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1200px;
}
.five-back .five-people .numbers span {
  display: inline-block;
  width: 0px;
}
.five-back .five-people .numbers p {
  font-size: 64px;
  margin: 0px -55px;
  font-weight: 900;
}
.five-back .five-people .numbers p span {
  display: inline-block;
}
.five-back .five-people .numbers p .spn1 {
  color: #FF3C78;
}
.five-back .five-people .numbers p .spn2 {
  color: #F0B143;
}
.five-back .five-people .numbers p .spn3 {
  color: #2241CF;
}
.five-back .five-people .numbers p .spn4 {
  color: black;
}

.clientSays {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px;
}
.clientSays button {
  padding: 15px 16px;
  background-color: #F9F5F2;
  border-radius: 20px;
  margin: 0 auto;
  border: none;
  outline: none;
}
.clientSays p {
  font-size: 40px;
  font-weight: 700;
  color: black;
  width: 450px;
  margin: 15px auto;
}
.clientSays .grid-clients {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  width: 1300px;
  margin: 0 auto;
}
.clientSays .grid-clients div {
  box-shadow: 1px 1px 5px black, -3px -3px 5px black;
  width: 400px;
  padding-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
}
.clientSays .grid-clients div p {
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
}
.clientSays .grid-clients div .lorem {
  text-align: center;
  width: 300px;
  margin: 20px auto;
  line-height: 25px;
  font-size: 15px;
}
.clientSays .grid-clients div b {
  display: block;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
}
.clientSays .grid-clients div img {
  margin: 30px 40%;
  width: 85px;
  height: 85px;
  text-align: center;
  border-radius: 50%;
}

.alotOf {
  width: 1300px;
  margin: 0 auto;
  padding: 20px 0px;
}
.alotOf button:first-child {
  border: none;
  outline: none;
  margin: 35px auto;
  display: block;
  text-align: center;
  padding: 8px 16px;
  background-color: #F9F5F2;
  border-radius: 20px;
}
.alotOf p {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  font-size: 40px;
  font-weight: 600;
}
.alotOf .grid {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px 0px;
  gap: 10px;
}
.alotOf .grid div {
  width: 400px;
  position: relative;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.alotOf .grid div button {
  position: absolute;
  cursor: pointer;
  left: 7%;
  top: 50%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #1E1E1E;
  color: white;
}
.alotOf .grid div .button-2 {
  background-color: #FF3C78;
}
.alotOf .grid div .button-3 {
  background-color: #2241CF;
}
.alotOf .grid div .par {
  margin: 15px;
  font-weight: 100;
  text-align: left;
  font-size: 15px;
}
.alotOf .grid div img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}
.alotOf .grid div p {
  margin: 10px;
  width: 380px;
  text-align: left;
  font-size: 18px;
}

.back-foot {
  background-color: #1E1E1E;
  width: 100%;
}
.back-foot footer {
  margin: 0 auto;
  width: 1300px;
  background-color: #1E1E1E;
  color: snow;
  padding: 80px 80px 0px 80px;
}
.back-foot footer .footer-links {
  width: 1300px;
  margin: 0 auto;
}
.back-foot footer .footer-links .footer-top {
  display: flex;
  justify-content: space-between;
}
.back-foot footer .footer-links .footer-top a {
  margin-right: 100px;
  margin-top: 20px;
}
.back-foot footer .footer-links a {
  font-style: normal;
  font-weight: 400;
  margin-right: 80px;
  font-size: 16px;
  line-height: 24px;
}
.back-foot footer .footer-links hr {
  width: 1150px;
}
.back-foot footer .footer-links .footer-first-links {
  display: flex;
  flex-direction: column;
}
.back-foot footer .footer-links .footer-first-links h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 350px;
  height: 94px;
}
.back-foot footer .footer-links .footer-first-links p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 372px;
  height: 96px;
  margin: 25px 0;
}
.back-foot footer .footer-links .overview {
  display: flex;
  flex-direction: column;
}
.back-foot footer .footer-links .pages {
  display: flex;
  flex-direction: column;
}
.back-foot footer .footer-links .connect {
  display: flex;
  flex-direction: column;
}
.back-foot footer .footer-links .footer-bootom {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=About.css.map */