* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: snow;
}

header {
  background-color: #1E1E1E;
}
header .head-links {
  padding: 20px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-links a {
  margin-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
header .head-links .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
header .head-links button {
  border: none;
  outline: none;
  color: snow;
  background-color: #FF3C78;
  border-radius: 16px;
  padding: 12px 24px;
}

.get-in-touch {
  width: 100%;
  background-color: #1E1E1E;
  padding-top: 5%;
  padding-left: 18.5%;
  padding-right: 10%;
  padding-bottom: 5%;
  display: flex;
  color: #FFFFFF;
}
.get-in-touch .left-div {
  width: 100%;
}
.get-in-touch .left-div p:first-child {
  width: 550px;
  font-size: 40px;
  font-weight: 900;
}
.get-in-touch .left-div p:nth-child(2) {
  margin: 20px 0px;
  line-height: 20px;
  width: 400px;
  letter-spacing: 2px;
  font-size: 15px;
}
.get-in-touch .left-div p:nth-child(4) {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0px;
}
.get-in-touch .left-div .not {
  width: 25%;
  margin: 30px 0px;
  height: 2px;
  border: 2px dotted grey;
}
.get-in-touch .left-div .soc {
  font-size: 32px;
  margin: 20px 0px;
  font-weight: 600;
}
.get-in-touch .left-div .imm {
  width: 30%;
}
.get-in-touch .left-div .imm img {
  margin-left: 20px;
}
.get-in-touch .left-div .par {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 50px 0px;
}
.get-in-touch .left-div .par img {
  margin: -10px 5px;
}
.get-in-touch .right-div {
  width: 100%;
}
.get-in-touch .log-in {
  width: 80%;
  height: 75vh;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
.get-in-touch .log-in p:first-child {
  color: black;
  margin: 20px auto;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.get-in-touch .log-in .box {
  position: relative;
  width: 100%;
  display: flex;
}
.get-in-touch .log-in .box .checkbox {
  margin: 5px;
  height: 15px;
  width: 30px;
}
.get-in-touch .log-in .box p {
  position: relative;
  top: 15%;
  font-size: 13px;
  line-height: 20px;
  color: #474747;
}
.get-in-touch .log-in button {
  padding: 15px 25px;
  margin: 25px 15px;
  background-color: #2241CF;
  border-radius: 20px;
  color: white;
}
.get-in-touch .log-in .names {
  width: 40%;
  padding: 20px 16px;
  margin: 22px;
  outline: none;
  border: #E1E1E1 1px solid;
  border-radius: 15px;
  background-color: #F5F8FA;
}
.get-in-touch .log-in .worldMall {
  width: 90%;
  padding: 20px 16px;
  margin: 22px;
  outline: none;
  border: #E1E1E1 1px solid;
  border-radius: 15px;
  background-color: #F5F8FA;
}
.get-in-touch .log-in .Message {
  width: 90%;
  padding: 15px;
  padding-bottom: 150px;
  margin: 22px;
  outline: none;
  border: #E1E1E1 1px solid;
  border-radius: 15px;
  background-color: #F5F8FA;
}

.clientSays {
  width: 100%;
  text-align: center;
  padding: 100px;
}
.clientSays button {
  padding: 15px 16px;
  background-color: #F9F5F2;
  border-radius: 20px;
  margin: 0 auto;
  border: none;
  outline: none;
}
.clientSays p {
  font-size: 40px;
  font-weight: 700;
  color: black;
  width: 450px;
  margin: 15px auto;
}
.clientSays .grid-clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  width: 80%;
  margin: 0 auto;
}
.clientSays .grid-clients div {
  box-shadow: 1px 1px 5px black, -3px -3px 5px black;
  width: 100%;
  padding-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
}
.clientSays .grid-clients div p {
  font-size: 18px;
}
.clientSays .grid-clients div .lorem {
  width: 300px;
  margin: 20px auto;
  line-height: 25px;
  font-size: 15px;
}
.clientSays .grid-clients div b {
  display: block;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
}
.clientSays .grid-clients div img {
  margin: 30px 40%;
  width: 85px;
  height: 85px;
  text-align: center;
  border-radius: 50%;
}

footer {
  background-color: #1E1E1E;
  color: snow;
  padding: 80px 80px 0px 80px;
}
footer .footer-links {
  width: 1300px;
  margin: 0 auto;
}
footer .footer-links .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-links .footer-top a {
  margin-right: 40px;
  margin-top: 20px;
}
footer .footer-links a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-links .footer-first-links {
  display: flex;
  flex-direction: column;
}
footer .footer-links .footer-first-links h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 350px;
  height: 94px;
}
footer .footer-links .footer-first-links p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 372px;
  height: 96px;
  margin: 25px 0;
}
footer .footer-links .overview {
  display: flex;
  flex-direction: column;
}
footer .footer-links .pages {
  display: flex;
  flex-direction: column;
}
footer .footer-links .connect {
  display: flex;
  flex-direction: column;
}
footer .footer-links .footer-bootom {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=concat.css.map */