*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: snow;
}
header{
    background-color: #1E1E1E;
    .head-links{
        a{
            
            margin-right: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        .logo{
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }
        padding: 20px;
        width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            border: none;
            outline: none;
            color: snow;
            background-color: #FF3C78;
            border-radius: 16px;
            padding: 12px 24px;
        }
    }
}

footer{
    background-color: #1E1E1E;
    color: snow;
    padding: 80px 80px 0px 80px;
    .footer-links{
        .footer-top{
            display: flex;
            justify-content: space-between; 
            a{
                margin-right: 40px;
                margin-top: 20px;
            }
        }
        a{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

        }
        width: 1300px;
        margin: 0 auto;
        .footer-first-links{
            h1{
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 47px;
                width: 350px;
                height: 94px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                width: 372px;
                height: 96px;
                margin: 25px 0;
            }
            display: flex;
            flex-direction: column;
        }
        .overview{
            display: flex;
            flex-direction: column;
        }
        .pages{
            display: flex;
            flex-direction: column;
        }
        .connect{
            display: flex;
            flex-direction: column;
        }
        .footer-bootom{
           padding: 24px;
           display: flex;
           justify-content: space-between;
           align-items: center; 
        }
    }
}
.marketing{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 513px;
        height: 572px;
        margin-top: 32px;
    }
    .marketing-name{
        b{
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin-right: 240px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }
    span{
        width: 513px;
        height: 840px;
    }
    .marketing-text{
        display: flex;
        flex-direction: column;
        gap: 30px;
        b{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

    }
}